.fa-file-pdf {
    color:red;
}

.fa-file-word {
    color: blue;
}

@media only screen and (min-width: 2000px) {
    .fa-file-pdf, .fa-file-word, .wordResume h3, .pdfResume h3  {
        font-size: 2.5rem!important;
    }
}