.fa-file-pdf {
    color:red;
}

.fa-file-word {
    color: blue;
}

@media only screen and (min-width: 2560px) {
    .fa-file-pdf, .fa-file-word, .wordResume, .pdfResume   {
        font-size: 2.5rem!important;
    }
}