nav {
    font-weight: bolder;
    /* font-size: 2rem; */
}

.nav-link {
    color: #000000!important
}

.nav-link.active {
    color: #e5e5e5!important;
}

.navbar-toggler.collapsed, .navbar-toggler {
    background-color: #fca311!important;
}

@media only screen and (min-width: 768px) {
    .nav-link {
        font-size: 1.5rem!important;
    }

    .navbar-brand {
        font-size: 2.5rem!important;
    }
    
}

@media only screen and (min-width: 1440px) {
    .nav-link {
        font-size: 2rem!important;
    }

    .navbar-brand {
        font-size: 3rem!important;
    }
}

@media only screen and (min-width: 2560px) {
    .nav-link {
        font-size: 3.5rem!important;
    }

    .navbar-brand {
        font-size: 4rem!important;
    }
}