.projectCard {
    margin: auto;
    height: 100%;
}

.projectImage {
    object-fit: scale-down;
    height: 20vh;
}

.projectDescription {
    padding-bottom: 1rem;
}

.rightButton {
    position: absolute;
    bottom: 5px;
    right: 5px
}

.leftButton {
    position: absolute;
    bottom: 5px;
    left: 5px
}

@media only screen and (min-width: 2560px) {
    .card-title.h5{
        font-size: 2rem!important;
    }
    .card-subtitle.h6{
        font-size: 1.5rem!important;
    }
    .card-text {
        font-size: 1.5rem;
    }
    .leftButton, .rightButton {
        height: 4vh;
        width: 4vh;
        font-size: 2rem!important;
    }
}